nav ul li a {
    color: black;
    font-size: 13px;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-wrapper {
    background-color: white;
}

hr {
    margin-top: 50px;
}

.img1 {
    width: 400px;
    padding: 30px;
}

.project-desc1 {
    padding-top: 100px;
    padding-right: 50px;
}
h2 {
    color: black;
    font-size: 13px;
    margin-left: 25px;
    margin-right: 25px;
}